<!DOCTYPE html>
<html>
<head>
    


    <title>Home</title>



</head>
<body>
    <section class="mbr-section contacts3 cid-rTNp95k9rl" id="contacts3-c">
        <!---->
        <!---->
        <!--Overlay-->
        <!--Container-->
        <div class="container">
            <div class="row">
                <!--Titles-->
                <div class="title col-12">
                    <h2 class="align-left mbr-fonts-style display-1">Наши контакты</h2>

                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="wrapper">
                                <span class="iconfont-wrapper">
                                    <span class="amp-iconfont icon fa-thumbs-o-up fa"></span>
                                </span>
                                <div class="b-info b-adress">
                                    <span class="glyphicon glyphicon-map-marker"></span>Адрес: Казахстан, Алматы</h5>
                                    <p class="mbr-text align-left mbr-fonts-style display-7">Наш офис находится в городе Алматы, аль-Фараби 71.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="wrapper">
                                <span class="iconfont-wrapper">
                                    <span class="amp-iconfont icon fa-phone fa"></span>
                                </span>
                                <div class="b-info b-phone">
                                    
                                    <h5 class=" align-left mbr-fonts-style display-5">
                                        <span class="glyphicon glyphicon-phone"></span>
                                        Телефон: 87085973035
                                    </h5>
                                    <p class="mbr-text align-left mbr-fonts-style display-7">Если хотите узнать все еще подробней, звоните нам.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="wrapper">
                                <span class="iconfont-wrapper">
                                    <span class="amp-iconfont icon fa-comment-o fa"></span>
                                </span>
                                <div class="b-info b-mail">
                                    
                                    <h5 class="align-left mbr-fonts-style display-5">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                          E-mail: info@glory.com
                                    </h5>
                                    <p class="mbr-text align-left mbr-fonts-style display-7">Если у вас есть какие-то вопросы или предложения можете написать нам на почту</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="wrapper">
                                <span class="iconfont-wrapper">
                                    <span class="amp-iconfont icon fa-th-large fa"></span>
                                </span>
                                <div class="b-info b-mail">
                                    <h5 class="align-left mbr-fonts-style display-5"><span class="glyphicon glyphicon-time"></span>  Часы работы: 24/7</h5>
                                    <p class="mbr-text align-left mbr-fonts-style display-7">Мы онлайн всегда</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/theme/js/script.js"></script>


</body>
</html>