<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v4.12.3, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.12.3, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
    <meta name="description" content="Web Page Maker Description">


    <title>Page 1</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
    @{
        ViewBag.Title = "Dodo";
    }

    <h2 class="text-center">Додо Пицца</h2>
    <br />
    <br />
    <br />


    <section class="features19 cid-rTNgabYADF" id="features19-8">


        <div class="container">
            <div class="row">
                <div class="item features-image col-lg-4 col-md-6 col-sm-12">
                    <div class="item-wrapper">
                        <div class="item-img card-img">
                            <img src="~/Content/photo/296656301_1_644x461.jpg" height="150" width="250" alt="" title="">
                        </div>
                        <div class="item-content">
                            <h4 class="item-title mbr-fonts-style pb-3 display-7">История</h4>
                            <h5 class="item-subtitle mbr-fonts-style pb-3 display-4"></h5>
                            <p class="item-text display-7"><em>«Додо Пицца» была основана Фёдором Овчинниковым, предпринимателем из Сыктывкара, известному историей создания сети книжных магазинов «Книга за книгой», которая легла в основу книги Максима Котина «И ботаники делают бизнес». Овчинников объяснял, что на рынке общепита не было больших национальных сетей, формат доставки не требовал больших начальных вложений, а пицца была понятным во всём мире продуктом, с которым предприниматель потенциально мог построить международную компанию. Прежде чем открыть первую пиццерию Овчинников под видом бывшего учителя истории из провинции полтора месяца проработал на разных позициях в петербургских McDonald’s, Papa John's, Sbarro и «Теремке», где на практике изучал работу кухни, зала и менеджмента. Весной 2011 года Овчинников арендовал в центре Сыктывкара небольшое помещение, открыл пиццерию, которая работала только на доставку, и к концу года заведение со стартовыми вложениями в 1,3 миллиона рублей вышло на 1 миллион месячного оборота.</em></p>
                        </div>

                    </div>
                </div>
                <div class="item features-image col-lg-4 col-md-6 col-sm-12">
                    <div class="item-wrapper">
                        <div class="item-img card-img">
                            <img src="~/Content/photo/slide-0.jpg" height="150" width="250" alt="" title="">
                        </div>
                        <div class="item-content">
                            <h4 class="item-title mbr-fonts-style pb-3 display-7">Деятельность</h4>
                            <h5 class="item-subtitle mbr-fonts-style pb-3 display-4"></h5>
                            <p class="item-text display-7"><em>К весне 2012 года в компании закрепились все рабочие процессы и появились первые франчайзи. К концу 2012 года у «Додо Пиццы» было 8 заведений, к 2014 году — 25, к началу 2015 — 50. За 2018 год открылось около 100 заведений, и в начале 2019 года в сети было 442 пиццерии в России и других странах — Великобритании, Казахстане, Китае, Киргизии, Литве, США и Эстонии.</em></p>
                        </div>

                    </div>
                </div>
                <div class="item features-image col-lg-4 col-md-6 col-sm-12">
                    <div class="item-wrapper">
                        <div class="item-img card-img">
                            <img src="~/Content/photo/37123632_693805184295407_4915930794322558976_n.jpg" height="150" width="200" alt="" title="">
                        </div>
                        <div class="item-content">
                            <h4 class="item-title mbr-fonts-style pb-3 display-7">Продукция</h4>
                            <h5 class="item-subtitle mbr-fonts-style pb-3 display-4"></h5>
                            <p class="item-text display-7"><em>Вообще пицца — очень простая штука, её сложно испортить. Достаточно хороших ингредиентов и правильного теста. Это конструктор, если детали качественные, то и результат будет в порядке. Вот они, наши детали: тесто, моцарелла, начинка, томатный соус</em></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/theme/js/script.js"></script>


</body>
</html>