@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Glory</h1>
    <p class="lead">Glory - самое удобное приложение для онлайн заказов в различных ресторанах Казахстана.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg"> О нас &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>KFC</h2>
        <p>
            "Kentucky Fried Chicken”, основанная Гарландом Сандерсом, стала одной из крупнейших сетей быстрого питания в мире. На сегодняшний день в более чем 100 странах мира “Kentucky Fried Chicken” ежегодно продает более миллиарда обедов "Пальчики оближешь".
        </p>
        <p><a class="btn btn-default" href="~/Home/KFC">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>McDonald's</h2>
        <p> Американская корпорация, работающая в сфере общественного питания, до 2010 года крупнейшая в мире сеть ресторанов быстрого питания, работающая по системе франчайзинга.</p>
        <p><a class="btn btn-default" href="~/Home/Mcdonald">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Додо</h2>
        <p>«Додо Пицца» — российская сеть ресторанов быстрого питания, специализирующаяся на пицце.</p>
        <p><a class="btn btn-default" href="~/Home/Dodo">Подробнее &raquo;</a></p>
    </div>
</div>